@import "./1-utils/variables";
@import "./1-utils/functions";
@import "./1-utils/mixins";

@import "./3-base/box-sizing";
@import "./3-base/font";
@import "./3-base/body";
@import "./3-base/links";

@import "./4-composants/btn";
@import "./4-composants/btn-heart";
@import "./4-composants/btn-back";
@import "./4-composants/flag-new";
@import "./4-composants/steps-card";
@import "./4-composants/restaurant-card";
@import "./4-composants/meal-card";
@import "./4-composants/loading-spinner";

@import "./5-layout/header";
@import "./5-layout/body";
@import "./5-layout/container";
@import "./5-layout/footer";

@import "./6-pages/index/location";
@import "./6-pages/index/explore";
@import "./6-pages/index/operation";
@import "./6-pages/index/restaurant-container";
@import "./6-pages/index/index-big-container";
@import "./6-pages/menu/menu-background";
@import "./6-pages/menu/menu-title";
@import "./6-pages/menu/menu-container";
@import "./6-pages/menu/menu-group";
@import "./6-pages/menu/btn-order-container";