@font-face
{
	font-family: 'Shrikhand';
	src: url('fonts/Shrikhand-Regular.otf');
}

@font-face {
    font-family: 'Roboto-Regular';
    src: url('fonts/Roboto/Roboto-Regular.ttf');
}

@font-face {
    font-family: 'Roboto-Bold';
    src: url('fonts/Roboto/Roboto-Bold.ttf');
}
@font-face {
    font-family: 'Roboto-Light';
    src: url('fonts/Roboto/Roboto-Light.ttf');
}


@mixin flag-font{
    font-family: "Roboto-Regular";
    font-size: 11px;
}
@mixin font-card-bold{
    font-family: "Roboto-Bold";
    font-size: medium; 
}
@mixin font-card-light{
    font-family: "Roboto-Light";
    font-size: small;
}
@mixin font-card-bold-small{
    font-family: "Roboto-Bold";
    font-size: small; 
}

.menu-title__heading{
    font-family: "Shrikhand";
}
.menu-group__heading{
    font-family: "Roboto-Light";
    font-size: medium;
    text-transform: uppercase;
}
.flag-new{
    font-family: "Roboto-Regular";
    font-size: small;
}
.footer__header{
    font-family: "Shrikhand";
    font-size: medium;
}

h1{
    font-family: "Roboto-Bold";
    font-size: 20px;
}
/*p{
  font-family: "Roboto-Regular";
  font-size: small; 
}*/