.menu-group{
    display: flex;
    flex-direction: column;
    margin: 20px 0px;
    
    &__heading{
        padding-bottom: 3px;
        border-bottom: 3px solid $color-tertiary;
        width: 40px;
    }
    &__container{
        display: flex;
        flex-direction: column;
        row-gap: 15px;
    }
}

@keyframes fadein{
    from{
        opacity:0;
        transform: translateY(50px);
    }
    to{
        opacity:1;
        transform: translateY(0px);
    }
}

.menu-group_1{
    animation: 2s 500ms fadein;
    animation-fill-mode: backwards
}
.menu-group_2{
    animation: 2s 1s fadein;
    animation-fill-mode: backwards;
}
.menu-group_3{
    animation: 2s 1500ms fadein;
    animation-fill-mode: backwards;
}