.menu-group{
    display: flex;
    flex-direction: column;
    margin: 20px 0px;
    
    &__heading{
        padding-bottom: 3px;
        border-bottom: 3px solid $color-tertiary;
        width: 40px;
    }
    &__container{
        display: flex;
        flex-direction: column;
        row-gap: 15px;
    }
}