.header{
    display: flex;
    justify-content: center;
    padding: 20px;
    background-color: white;
    a{
        position: absolute;
        top: 20px;
        left: 20px;
    }
    &__logo{
        width: 50%;
        object-fit: scale-down;
    }
}