.heart{
    width: 40px;
    margin-bottom: 2px;
}

.heart:hover .btn-heart-full{
    transform: scale(1);
    transition-duration: 400ms;
    transition-delay: 0s; 
    }
.heart:hover .btn-heart-empty{
    display: none;

    }

.btn-heart{
    font-size: x-large;
}

.btn-heart-empty{
    background-color: transparent;
}

.btn-heart-full{
    z-index:-1;
    transform: scale(0);
    transition: transform 0s ease-in 0s;
    @include gradient;
    background-clip: text;  
    -webkit-background-clip: text;  
    -moz-background-clip: text;  
    -moz-text-fill-color: transparent;  
    -webkit-text-fill-color: transparent;
}