.flag-new{
    background-color: $color-tertiary;
    color: darken($color-tertiary, 40%);
    padding: 5px;
    border-radius:10%;
    width: fit-content;
    position: absolute;
    z-index: 1;
    top:15px;
    right: 15px;
    @include flag-font;
}
.flag-new--unactive{
    display: none;
}