@keyframes spinner-background{
    from{
        opacity: 1;
        z-index: 2;
    }
    to{
        opacity: 0;
        z-index: -2;
    }
}
@keyframes spinner {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
.spinner-background{
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: white;
    animation: 0s 3s spinner-background;
    animation-fill-mode: both;
}

.loading-spinner{
    animation: 1s ease-in-out infinite spinner;
    border-radius: 100%;
    animation-fill-mode: none;
    /*outline: solid 3px $color-primary;*/
    border: solid 10px $color-primary;
    border-bottom-color: white;
    @include gradient;
    content: "";
    height: 40px;
    width: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -20px;
    margin-top: -20px;
  }