.restaurant-card{
    transform: rotate(0deg);
    width: 100%;
    @include card-radius;
    @include box-shadow;
    &__image img{
        width: 100%;
        height: 180px;
        object-fit: cover;
        @include restaurant-image-radius;
    }
    &__body{
        display: flex;
        justify-content: space-between;
        @include card-padding;
    }
    &:hover{
        @include box-shadow-big;
    
    }
    .btn-heart{
        position: absolute;
        right: 20px;
        bottom:10px;
    }  
}
.restaurant-details{
    display: flex;
    flex-direction: column;
    &__name{
        @include font-card-bold;
    }
    &__location{
        @include font-card-light;
    }
}