$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$color-background-light:#f6f6f6;
$color-background-dark: #eaeaea;
$color-background-black:#353535;
$color-shadow: rgb(126, 126, 126);
$color-gradient: linear-gradient(to bottom right, $color-secondary, $color-primary);

$card-radius: 15px;


$breakpoint-tablet: 768px;
$breakpoint-desktop: 992px;
