.index-header{
    margin: 20px;
    .index-header__logo{
            width: 50%;
            object-fit: scale-down;
            position: relative;
            top: 20px;
            left:25%
    }
}
